.cards {
  @include flex-between-center;
  @include flex-column;
  width: 220px;
  height: 460px;
  margin: 5px;
  background-color: rgba(150, 128, 128, 0.2);
  color: #fff;
  text-align: center;

  &__header {
    width: 100%;
    padding: 45px 0;
    background-color: rgba(128, 128, 128, 0.2);
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  &__price {
    font-size: 2.8rem;

    &_bold {
      font-weight: 600;
    }
  }

  &__period {
    font-size: 0.65rem;
    color: #978a98;
    text-transform: uppercase;
  }

  &__separator {
    width: 60px;
    height: 5px;
    background-color: #8d81ac;
  }

  &__licence {
    font-size: 0.75rem;
    line-height: 2;
  }

  &__button {
    margin-bottom: 38px;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  &_big {
    margin: 0 25px;
    background-color: rgba(0, 0, 0, .15);
    transform: scale(1.2);
  }

  &__header_big {
    background-color: rgba(0, 0, 0, .1);
    font-size: 1.3rem;
  }
}

