.features {
  @include width;
  background-color: #f4f4f4;

  &-header {
    padding-left: 20px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #8d81ac;
  }

  &-header_width_768 {
    display: none;
  }

  &-container {
    @include flex-center;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 35px;
  }
}

.col-left {
  @include flex;
  width: 50%;
  padding-top: 1rem;
}

.features-post {
  @include flex-between;
  flex-wrap: nowrap;
  padding: 0 12%;

  &__icon {
    width: 30%;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  &__text_big {
    margin-bottom: 10px;
    font-size: 0.85rem;
    color: #323232;
  }

  &__text_small {
    font-size: 0.75rem;
    color: #848e97;
  }
}

.features-text-wrapper {
  width: 65%;
  line-height: 1.5;
}

.col-right {
  width: 50%;
  overflow-x: hidden;

  &-img {
    height: 520px;
    width: 700px;
    background-image: url("../img/editor.png");
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
}
