.present-text {
  @include width;
  padding: 0 10px;

  &__header {
    margin-top: 130px;
    margin-bottom: 38px;
    color: #635c73;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__description {
    margin: 0 auto 36px;
    font-family:  'Lato', sans-serif;
    width: 60%;
    line-height: 1.5;
    color: #5b5b5b;
    text-align: center;
  }
}

.github-buttons {
  @include flex-center;
  margin-bottom: 70px;

  &__wrapper {
    @include flex;
    margin-bottom: 20px;
  }

  &__wrapper:first-child {
    margin: 0;
  }

  &__item {
    height: fit-content;
    margin-left: 10px;
    padding: 3px 10px;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    border: 1px solid rgba(27,31,35,.2);
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    color: #24292e;
    cursor: pointer;
  }

  &__icon {
    vertical-align: text-bottom;
  }

  &__count {
    height: fit-content;
    padding: 3px 10px;
    background-color: #fff;
    border: 1px solid rgba(27, 31, 35, .2);
    border-left: 0;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    text-decoration: none;
  }
}

