.pricing {
  @include width;
  background-image: url("../img/pricing-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -15px;
  padding-top: 75px;
  padding-bottom: 140px;

  &-header {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }

  &-gallery {
    @include flex-center;
    margin-top: 120px;
    padding: 0 10px;
    align-items: center;
  }
}

.blank-line {
  color: transparent;
}

.new-row {
  display: none;
  width: 100%;
}

