@mixin width {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center {
  @include flex;
  justify-content: center;
}

@mixin flex-around {
  @include flex;
  justify-content: space-around;
}

@mixin flex-between {
  @include flex;
  justify-content: space-between;
}

@mixin flex-between-center {
  @include flex-between;
  align-items: center;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin tablet-landscape {
  @media (max-width: 992px) {
    .present-text__header {
      font-size: 1.9rem;
    }

    .present-text__description {
      width: 95%;
    }

    .features-container {
      flex-direction: column;
      align-content: center;
      padding: 0 10px;
    }

    .col-right, .col-left {
      width: 100%;
    }

    .col-right {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .features-header_width_768 {
      display: block;
      padding-top: 55px;
      padding-bottom: 20px;
      font-size: 1.9rem;
      text-align: center;
    }

    .features-header_width_1200 {
      display: none;
    }

    .features-post {
      width: inherit;
      padding: 17px 0;
    }

    .features-post__icon {
      width: 25%;
    }

    .features-text-wrapper {
      width: 75%;
    }

    .new-row {
      display: block;
    }

    .pricing-gallery {
      margin: 15px auto 0;
      width: 100%;
    }

    .pricing-header {
      font-size: 1.9rem;
    }

    .cards {
      max-width: 250px;
      flex-basis: 201px;
      flex-grow: 1;
      margin: 30px 20px;
    }

    .cards_big {
      margin-top: 30px;
      min-width: 200px;
    }

    .navbar {
      width: 100vw;
      min-width: 320px;
    }

    .testimonials__footer p {
      margin-top: 100px;
    }
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    .features-header {
      padding: 55px 50px 20px;
    }

    .features-post {
      flex-direction: column;
      align-items: center;
    }

    .features-post__icon {
      width: 100%;
    }

    .features-text-wrapper {
      margin-top: 25px;
      text-align: center;
    }

    .col-right-img {
      width: 715px;
      height: 380px;
    }

    .pricing {
      padding-bottom: 95px;
    }

    .cards {
      width: 257px;
      margin-top: 14px;
    }

    .cards_big {
      margin-top: 60px;
      margin-bottom: 50px;
    }

    .testimonials__footer p {
      margin-top: 700px;
    }
  }
}

@mixin burger {
  position:absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #fff;
}